/* Import fonts */
@import url(../../../fonts/fonts.css);

/* Import colors */
@import url(colors.css);

/* Import other css */
@import url(header.css);
@import url(navs.css);

@import url(dashboard.css);
@import url(users.css);
@import url(email.css);
@import url(hotels.css);
@import url(places.css);
@import url(open.css);


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: default;
    transition: .3s;
}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: 0 0;
    /* display: table; */
    height:100vh;
    width:100%;
}


.main__section {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-family: 'kurale';
    font-size: 20px;
    color: var(--text);
    height: calc(100vh - 80px);
    overflow:auto;
}

.main__section .body__container {
    width: 100%;
    height: calc(100vh - 80px);
}