/* roboto */
@font-face {
    font-family: roboto-light;
    src: url(Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: roboto-medium;
    src: url(Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-black;
    src: url(Roboto/Roboto-Black.ttf);
}

/* Kurale */
@font-face {
    font-family: kurale;
    src: url(Kurale/Kurale-Regular.ttf);
}