.about__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    font-family: 'kurale';
    font-size: 24px;
    color: var(--text);
}
.about__block .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid var(--text);
    border-right: 2px solid var(--text);
    height: calc(100vh - 82px);
    padding: 0 70px;
}
.about__container .about__title {
    display: flex;
    font-size: 48px;
    margin-bottom: 30px;
    /* color: var(--contact-btn); */
    font-weight: bold;
    letter-spacing: 5px;
}
.about__container .about__title span {
    display: block;
    width: 8px;
    height: 34px;
    background-color: var(--contact-btn);
    margin: 20px 20px 0 0;
}
.about__container .about__text {
    margin-top: 30px;
    font-size: 24px;
    /* color: var(--text-nav); */
}